<mat-toolbar>
    <div class="logo">
        <img src="..\assets\images\logo_bbva_blanco.svg" alt="logo bbva">
    </div>
    <div class="navigation">
        <div class="link active">
            Personas
        </div>
        <div class="link">
            Empresas
        </div>
    </div>
    <span class="spacer"></span>
    <div class="acction">
        <div class="createAccount">
            <mat-icon>person_add</mat-icon>
            <span>Crear una Cuenta</span>
        </div>
        <div class="login">
            <button mat-flat-button color="primary" class="btn-bbva">Banca por Internet</button>
        </div>
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </div>
</mat-toolbar>
<div class="section">
    <div class="news" *ngFor="let item of news">
        <p>{{item.title}}</p>
        <span>{{item.sub}}</span>
    </div>
    <div class="button_login">
        <app-sign-in-social></app-sign-in-social>
    </div>
</div>
<div class="myZone">
    <p class="title">¡Tenemos lo que buscas!</p>
    <div class="offers">
        <div class="offerItem" *ngFor="let product of productsList">
            <div class="group">
                <div class="cardMax">
                    <img [src]="product.banner" alt="">
                    <div class="contentCard">
                        <h2>{{product.name}}</h2>
                        <p>{{product.description}}</p>
                        <button mat-button>{{product.name}}</button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="card" *ngFor="let sub of product.subProducts">
                    <span>{{sub.name}}</span>
                    <p>{{sub.description}}</p>
                    <button mat-button>Conoce más</button>
                </div>
            </div>
        </div>
    </div>
</div>