* {
  box-sizing: border-box;
}

mat-toolbar {
  padding: 0 200px;
  height: 88px;
  line-height: 88px;
  background-color: #072146;
}

.spacer {
  flex: 1 1 auto;
}

.logo,
.navigation,
.acction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
}

.navigation {
  margin: 0 2rem;
  gap: 1rem;
  color: #fff;
  font-size: 14px;
}

.navigation .link {
  cursor: pointer;
}

.navigation .link.active {
  box-shadow: inset 0px -4px #fff;
}

.acction {
  margin: 0 2rem;
  gap: 1rem;
  color: #fff;
  font-size: 14px;
}

.btn-bbva {
  width: 180px;
  height: 50px;
  padding: 15px;
  font-weight: 500;
  line-height: 14px;
  font-size: 17px;
  margin-left: 24px;
  background-color: #028484;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: #fff;
}

.createAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: #f8cd51;
}

.section {
  height: 450px;
  padding: 3rem 200px;
  background-image: url('./../../../../assets/images/banner-web.png');
}

.section .news {
  height: 300px;
  background: #fff;
  width: 500px;
  padding: 1rem;
}

.news p {
  font-size: 35px;
  margin: 1rem;
  line-height: 40px;
  letter-spacing: 5px;
}

.news span {
  font-size: 15px;
  margin: 1rem;
  line-height: 20px;
  color: #5a5a5a;
}
