* {
  box-sizing: border-box;
}

mat-toolbar {
  padding: 0 200px;
  height: 88px;
  line-height: 88px;
  background-color: #072146;
}

.spacer {
  flex: 1 1 auto;
}

.logo,
.navigation,
.acction {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
}

.navigation {
  margin: 0 2rem;
  gap: 1rem;
  color: #fff;
  font-size: 14px;
}

.navigation .link {
  cursor: pointer;
}

.navigation .link.active {
  box-shadow: inset 0px -4px #fff;
}

.acction {
  margin: 0 2rem;
  gap: 1rem;
  color: #fff;
  font-size: 14px;
}

.btn-bbva {
  width: 180px;
  height: 50px;
  padding: 15px;
  font-weight: 500;
  line-height: 14px;
  font-size: 17px;
  margin-left: 24px;
  background-color: #028484;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: #fff;
}

.createAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: #f8cd51;
}

.section {
  height: 450px;
  padding: 3rem 200px;
  background-image: url('./../../../../assets/images/banner-web.png');
}

.section .news {
  height: 300px;
  background: #fff;
  width: 500px;
  padding: 1rem;
}

.news p {
  font-size: 35px;
  margin: 1rem;
  line-height: 40px;
  letter-spacing: 5px;
}

.news span {
  font-size: 15px;
  margin: 1rem;
  line-height: 20px;
  color: #5a5a5a;
}

.myZone {
  position: relative;
  zoom: 1;
  width: 100%;
  display: block;
  background: #f4f4f4;
  padding: 40px 200px;
}

.myZone p.title {
  font-size: 36px;
  line-height: 48px;
  max-width: 80%;
  font-weight: 200;
  margin: 8px auto 16px;
  color: #121212;
  text-align: center;
  letter-spacing: 0;
  margin-bottom: 4rem;
}

.offers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.offers .offerItem {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.offers .offerItem:nth-child(2n) {
  flex-direction: row-reverse;
}

.offers .group {
  width: 50%;
}

.offers .cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
  align-items: flex-start;
}


.card,
.cardMax {
  background: #fff;
  padding: 24px;
  min-height: 262px;
  width: 262px;
  margin-left: 16px;
  margin-right: 16px;
  margin: 0;
}

.cardMax {
  width: 100%;
  height: 100%;
  padding: 0;
}

.cardMax img {
  width: 100%;
}

.contentCard {
  padding: 24px;
}

.contentCard h2 {
  font-size: 26px;
}

.card span {
  line-height: 20px;
  font-weight: 500;
  margin: .5rem 0;
  display: flex;
}

.contentCard p, .card p {
  font-size: 14px;
  color: #626262;
  text-align: left;
  line-height: 20px;
  width: 100%;
  margin-bottom: 8px;
  display: block;
}

.card button, .cardMax button {
  font-size: 15px;
  text-align: left;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 2rem;
  padding: 0;
  color: #1973b8;
  text-decoration: none;
  display: block;
}
