form {
  width: 100%;
}

form mat-form-field {
  width: 100%;
}

form mat-form-field input {
  width: 100%;
}

h1 {
  color: #1973b8;
}

button {
  background-color: #1973b8;
  cursor: pointer;
  border: none;
  border-radius: 0;
  color: #fff;
}
