button {
  will-change: background-position;
  background-size: 210% 100%;
  background-position: 99% center;
  background-repeat: no-repeat;
  transition: background-position .66667s cubic-bezier(.24, .22, .31, 1.07);
  background-color: #1973b8;
  background-image: linear-gradient(100deg, #1464a5 50%, #1973b8 50%);
  font-size: 15px;
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  max-width: 100%;
  line-height: 24px;
  padding: 12px 32px;
  border-radius: 1px;
  min-width: 76px;
  display: inline-block;
  border: 0;
  cursor: pointer;
}
