<div class="container-fluid d-flex py-3 px-5 header">
  <div class="logo pr-5">
    <img
      src="https://www.bbva.pe/content/dam/public-web/global/images/logos/logo_bbva_blanco.svg"
      alt="logo_bbva"
    />
  </div>
  <div class="tab px-5 d-flex align-items-center">
    <p class="m-0 p-0" style="font-weight: bold">PERSONAS</p>
  </div>
  <div class="tab px-5 d-flex align-items-center">
    <p class="m-0 p-0">EMPRESAS</p>
  </div>
</div>

<div class="container-fluid h-50 py-3 slider-container">
  <div class="container-fluid h-50">
    <div class="container-fluid py-4 sub-slider-container">
      <p class="title">¡Descubre nuestra nueva sección de servicios!</p>
      <p class="subtitle">¡Encuentra productos financieros a tu medida!</p>
    </div>
    <button type="button" class="btn btn-primary">Ingresar</button>
  </div>
</div>
